.main-header {
    display: flex;
    background: #464547;
    height: 70px;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
}

.header-navigation-refers {
    height: 40px;
    color: #FFFDFD;
    line-height: 3;
    margin-right: 20px;
}

.header-call-button {
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    margin:  0 100px 0 20px;
}