.reviews-container-main {
    height: 580px;
    font-size: 14px;
    background-color: #FEFEFF;
    margin: 0 100px 0;
}

.reviews-container {
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.review-main-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 30px;
}

.review-container {
    width: 220px;
}

.review-photo {
    width: 102px;
    height: 102px;
    border-radius: 50%;
}

.review-photo-container {
    width: 100%;
    text-align: center;
}

.review-name {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    line-height: 112%;
}

.review-text {
    width: 100%;
    text-align: left;
    vertical-align: top;
    height: 220px;
    font-size: 14px;
    line-height: 21px;
}